<main role="main" class="flex-shrink-0">
    <div id="app" class="bg-light rounded mr-md-3 ml-md-3 pt-3 px-3 pt-md-1 pb-md-3 overflow-hidden">
        <div class="my-3 p-1 text-center">
            <h2 class="display-5"><?php echo $title ?></h2>
            <p class="lead text-muted small">
                <a href="http://web.aanda.ru/new/">Web</a> | <a href="/new/hotel/"><?php echo $title ?></a>
            </p>
        </div>
        <div class="showdata bg-white shadow-lg mx-auto mb-3 p-3" >

            <div class="tab-content tab-content-solid">

                <div class="data-list">
                    <div class="list-item">
                        <div class="col">
                            <div class="media">
                                <img src="http://images.aanda.ru/photos/90/205/122334.jpg" class="align-self-center mr-3" alt="...">
                                <div class="media-body">
                                    <h4 class="mt-0">Стандартный номер с раздельными кроватями</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data-list">
                    <div class="list-item">
                        <div class="col">
                            Тариф: Невозвратный завтрак шведский стол
                            Штраф: 3500 c 2019-10-28 12:00
                            <i class="mdi mdi-white-balance-sunny"></i>Ранний заезд
                            <i class="mdi mdi-weather-night"></i>Поздний выезд
                        </div>
                        <div class="col">
                            2
                        </div>
                        <div class="col">
                            3
                        </div>
                        <div class="col">
                            4
                        </div>
                        <div class="col">
                            5
                        </div>
                        <div class="col">
                            6
                        </div>
                        <div class="col">
                            7
                        </div>
                        <div class="col">
                            8
                        </div>
                        <div class="col">
                            9
                        </div>
                    </div>
                </div>
                <div class="data-list">
                    <div class="list-item text-secondary">
                        <div class="col font-weight-bold">
                            Заголовок
                        </div>
                        <div class="col text-right">
                            правая часть
                        </div>
                    </div>
                </div>
                <div class="data-list">
                    <div class="list-item">
                        <div class="col font-weight-bold text-right"><span class="text-muted">Итого за номер:</span> 7 400 <i class="mdi mdi-currency-rub"></i></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>