<div id="mySidenavR" class="sidenavR">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNavR()">×</a>
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#block2" aria-expanded="false" aria-controls="block2">
					<i class="menu-icon mdi mdi-hotel"></i>
					<span class="menu-title">Отели</span>
					<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="block2" style="">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" href="http://web.aanda.ru/priority_hotel/index.php">Приоритетность отелей</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="http://web.aanda.ru/checkinout/seasons.php?hotel_id=11724">Ранний заезд / Поздний выезд</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="http://web.aanda.ru/promo/index.php">Промо-коды</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="http://web.aanda.ru/transfer_iway/search.php">Трансферы</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item active">
				<a class="nav-link collapsed" data-toggle="collapse" href="#block33" aria-expanded="false" aria-controls="block33">
					<i class="menu-icon mdi mdi-help-box"></i>
					<span class="menu-title">Справочники</span>
					<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="block33" style="">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" href="/new/user" aria-expanded="true">Сотрудники</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/new/staff/" aria-expanded="true">Сотрудники агентств</a>
						</li>
				</div>
			</li>
			<li class="nav-item active">
				<a class="nav-link collapsed" data-toggle="collapse" href="#block29" aria-expanded="false" aria-controls="block29">
					<i class="menu-icon mdi mdi-chart-pie"></i>
					<span class="menu-title">Отчёты</span>
					<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="block29" style="">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" href="http://web.aanda.ru/new/report" aria-expanded="true">Отчёт по шлюзам</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" data-toggle="collapse" href="#block53" aria-expanded="false" aria-controls="block53">
					<i class="menu-icon mdi mdi-content-copy"></i>
					<span class="menu-title">Заказы</span>
					<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="block53" style="">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" href="#">Таблица заказов</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/new/orders_placed/">Разнесение заказов</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#block103" aria-expanded="false" aria-controls="block103">
					<i class="menu-icon mdi mdi-alert-circle-outline"></i>
					<span class="menu-title">Логи</span>
					<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="block103">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" href="#">Квоты</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="collapse" href="#block1" aria-expanded="false" aria-controls="block1">
					<i class="menu-icon mdi mdi-hexagon-multiple"></i>
					<span class="menu-title">Администрирование</span>
					<i class="menu-arrow"></i>
				</a>
				<div class="collapse" id="block1">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item">
							<a class="nav-link" href="http://web.aanda.ru/sendemail/create.php">Рассылка</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/new/privilege/" aria-expanded="true">Привилегии</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/new/role/" aria-expanded="true">Роли</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</div>